body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.para{
background-image: url("file:///C:/Users/Dell/Downloads/bg-image.jpg");
background-repeat: no-repeat;
background-size: cover;
width:20;
height:400px;
}

img{
width:400px;
height:350px;
}

#hello{
width:100%;
height:400px;

}